html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}
nav {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  font-family: 'Prata', serif;
  font-size: 22px;
}
.left-col, .right-col {
  color: #fff;
  text-align: center;
  height: 90vh;
  display: flex;
  justify-content:center;
  align-items:center;
}
.scroll{
  text-align: center;
  color: #2864b1;
}
.top-container{
  width: 500px;
  margin: 0 auto;
}
.left-col{
background-color: #003170;
}
.right-col{
  background-color: #75e3dd;
}
img {
  max-width: 100%;
}
footer{
  background-color: #f5979c;
  min-height: 220px;
  background-image: url('../img/socialmedia.svg');
  background-repeat:no-repeat;
  background-size:60%;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}
h1,h2,h3,h4,h5{
  font-family: 'Prata', serif;
  font-weight: normal;
}
h1{
  font-size: 150px;
  margin: 0;
}
h2{
  font-size: 100px;
}
h3{
  font-size: 50px;
}
h4{
  font-size: 32px;
  color: #16736e;
  background:#75e3dd;
  display: inline-block;
  margin: 0;
  padding: 4px;
}
.works a {
  letter-spacing: 3px;
  font-size: 18px;
  color: #53c3c4;
  text-decoration: none;
  font-weight: bold;
}
p{
  line-height: 145%;
}
.works{
  color: #0e726f;
}
.works h2{
  color: #4dc2bd;
}
.works img{
  position: relative;
  width: 100%;
}
.works h3{
  color: #0e726f;
}
.works h4{
  position: absolute;
  top:-25px;
  z-index: 1;
}
.works h4.right-aligns{
  right: 0;
}
.myteam h2{
  color: #003170;
}
.myteam h3{
  color: #306fbf;
  margin: 0 0 90px 0;
  line-height: 100%;
}
.myteam p,ul,li{
  color: #444355;
  font-size: 14px;
}
.contact h2{
  color: #f3747b;
}
.social-icon{
  height: 60px;
  margin: 10px 20px;
}
.social-icon-container{
  text-align: center;
}
.navigation li{
  display: inline-block;
  margin: 0 15px;
  font-size: 22px;
}
.navigation {
  text-align: center;
}
.navigation li a{
  color: #27bcb8;
  text-decoration: none;
}
.extra-gutters{
  padding: 0 60px;
}
.right-aligns{
  text-align: right;
}
.img-margin{
  margin-bottom: 20px;
}
